.card{
    margin: 5% 20%;
    text-align: center;
    padding: 15px 32px;
}

.refresh{
    margin: 5% 45%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}